img {
	width: 250px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#map-canvas {
	height: 500px;
}

html {
	height: 100%;	
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#itinerary-title {
	color: #2C2C2C;
}

#itinerary-title:visited {
	color: #000000;
	text-decoration: none;
}


#itinerary-title:hover {
	color: #0072B1;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
